body{
    background-color: #ededed;
}

#blogContainer .card h3{
    text-transform: capitalize;
}

#blogContainer .card{
    transition: all 0.3s ease-in-out;
}

#blogContainer .card:is(:hover, :active, :focus){
    box-shadow: 5px 5px 10px #000;
    transform: scale(1.01);
}

#blogContainer .card p{
    padding:10px;
}

.loder{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardScrolle {
  box-shadow: 0 0 0 4px rgba(59,130,246,0.15);
  transition: box-shadow 300ms ease;
}